In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import torch
from sklearn.model_selection import train_test_split
from sklearn import tree

## Data Acquisition
##### Flat Acquisition using csv files

In [55]:
movies = pd.read_csv('./data/movies.csv')
# genome_scores = pd.read_csv('./data/genome-scores.csv')
# genome_tags = pd.read_csv('./data/genome-tags.csv')
ratings = pd.read_csv('./data/ratings.csv')
tags = pd.read_csv('./data/tags.csv')

In [56]:
# print the first 5 rows of the movies, ratings, and tags dataframes
display(movies.head())
display(ratings.head())
display(tags.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

### Data Wrangling

In [57]:
grouped_ratings = ratings.groupby('movieId').agg({'rating': ['mean', 'count'], 'timestamp': ['mean']})
grouped_ratings.columns = ['mean_rating', 'rating_count', 'mean_timestamp']
grouped_ratings = grouped_ratings.astype({'mean_timestamp': 'int'})

# Merge dei dataset movies e ratings
# rimuove i film che non hanno rating
movies_ratings = pd.merge(movies, grouped_ratings, on='movieId')

# mantiene i duplicati, per rimuoverli usare .apply[set, list]
# tags.groupby('movieId')['tag'].apply(set)
new_tags = tags.groupby('movieId')['tag'].apply(set).apply(list)

df = pd.merge(movies_ratings, new_tags, on='movieId')

display(df.head())

,movieId,title,genres,mean_rating,rating_count,mean_timestamp,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.893708,57309,1153152210,"[mission, 3D, é˜®ä¸€é¸£, HEROIC MISSION, joss ..."
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.251527,24228,1122310117,"[bad cgi, board game, time travel, Dynamic CGI..."
2,3,Grumpier Old Men (1995),Comedy|Romance,3.142028,11804,980602256,"[Jack Lemmon, old people that is actually funn..."
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.853547,2523,942460471,"[characters, single mother, divorce, revenge, ..."
4,5,Father of the Bride Part II (1995),Comedy,3.058434,11714,1004723013,"[daughter, parent child relationship, confiden..."

### Data Preparation (Data cleaning, Duplicates filtering, Data encoding)

##### Data Cleaning
The following results show that there are no NaN values in the dataset.

In [58]:
# print number of rows
print('Number of rows: ', df.shape[0])

# drop rows with missing values
df = df.dropna()

# print number of rows after dropping missing values
print('Number of rows after dropping missing values: ', df.shape[0])

Number of rows:  41875
Number of rows after dropping missing values:  41875

##### Data Encoding
Multicategorical One-Hot encoding for film genres

In [59]:
# one hot encoding for genres
# print every category in movies dataset
categories = set()
for s in df['genres'].str.split('|').values:
    categories = categories.union(set(s))

# add columns for each category
for category in categories:
    df[category] = df['genres'].str.contains(category).astype(int)

# delete genres column
df = df.drop(columns=['genres'])

display(df.head())

/var/folders/x8/p0tjyw5163s2pb2vfft_2jbc0000gn/T/ipykernel_855/4060750238.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[category] = df['genres'].str.contains(category).astype(int)

,movieId,title,mean_rating,rating_count,mean_timestamp,tag,Romance,Crime,Film-Noir,Drama,...,Mystery,Sci-Fi,(no genres listed),Animation,Fantasy,Thriller,Musical,Adventure,Comedy,Western
0,1,Toy Story (1995),3.893708,57309,1153152210,"[mission, 3D, é˜®ä¸€é¸£, HEROIC MISSION, joss ...",0,0,0,0,...,0,0,0,1,1,0,0,1,1,0
1,2,Jumanji (1995),3.251527,24228,1122310117,"[bad cgi, board game, time travel, Dynamic CGI...",0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,3,Grumpier Old Men (1995),3.142028,11804,980602256,"[Jack Lemmon, old people that is actually funn...",1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,4,Waiting to Exhale (1995),2.853547,2523,942460471,"[characters, single mother, divorce, revenge, ...",1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,5,Father of the Bride Part II (1995),3.058434,11714,1004723013,"[daughter, parent child relationship, confiden...",0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

##### Duplicates Filtering
The following results show that there are no duplicates in the dataset (as expected after merge operation).

In [60]:
df_preprocessed = df.copy()

# drop tag column TODO: find a way to use tag
df_preprocessed = df_preprocessed.drop(columns=['tag'])

# print number of rows
print('Number of rows: ', df_preprocessed.shape[0])

# drop duplicated rows
df_preprocessed = df_preprocessed.drop_duplicates()

# print number of rows after dropping missing values
print('Number of rows after dropping duplicated rows: ', df_preprocessed.shape[0])

Number of rows:  41875
Number of rows after dropping duplicated rows:  41875

## Data Visualization

In [61]:
""" # rating distribution from ratings.csv
sns.countplot(x='rating', data=ratings)
plt.show()

sns.boxplot(x='rating', data=ratings)
plt.show() """

" # rating distribution from ratings.csv\nsns.countplot(x='rating', data=ratings)\nplt.show()\n\nsns.boxplot(x='rating', data=ratings)\nplt.show() "

Rather than using discrete bins, a KDE plot smooths the observations with a Gaussian kernel, producing a continuous density estimate. This is used for continuous attributes like rating mean.

It is done to show differences after data aggregation in calculating mean for each film.

In [62]:
""" # rating distribution from df
sns.kdeplot(df['mean_rating'])
plt.xlabel('rating mean for film')
plt.title('Rating distribution in dataframe')
plt.show() """

" # rating distribution from df\nsns.kdeplot(df['mean_rating'])\nplt.xlabel('rating mean for film')\nplt.title('Rating distribution in dataframe')\nplt.show() "

Observing the distribution of all attributes for every file.

This is useful to show data trends, to reveal outliers and leverage points, to provide hints about modeling techniques to apply.

In [63]:
""" # print distribution for ratings
fig, axs = plt.subplots(3)
sns.kdeplot(ratings['timestamp'], ax=axs[0], color='r', label='timestamp')
sns.kdeplot(ratings['rating'], ax=axs[1], color='b', label='rating')
sns.kdeplot(ratings['movieId'], ax=axs[2], color='g', label='movieId')

axs[0].set_xlabel('timestamp')
axs[1].set_xlabel('rating')
axs[2].set_xlabel('movieId')
plt.show() """

" # print distribution for ratings\nfig, axs = plt.subplots(3)\nsns.kdeplot(ratings['timestamp'], ax=axs[0], color='r', label='timestamp')\nsns.kdeplot(ratings['rating'], ax=axs[1], color='b', label='rating')\nsns.kdeplot(ratings['movieId'], ax=axs[2], color='g', label='movieId')\n\naxs[0].set_xlabel('timestamp')\naxs[1].set_xlabel('rating')\naxs[2].set_xlabel('movieId')\nplt.show() "

In [64]:
# Scatter plot matrix
# Completamente inutile
# sns.pairplot(ratings)
# plt.show()

In [65]:
""" movies_to_show = 5
fig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))

most_rated_movies = ratings.groupby('movieId').count().sort_values('rating', ascending=False).head(movies_to_show).index

to_line_plot = []
for i in range(movies_to_show):
    tmp = ratings.where(ratings['movieId'] == most_rated_movies[i]).dropna()
    tmp['date'] = pd.to_datetime(tmp['timestamp'], unit='s')
    
    # Computing the mean for each month
    tmp = tmp.resample("M", on='date').mean()[['movieId', 'rating']].dropna()
    to_line_plot.append(tmp)
    movie_title = movies.where(movies['movieId'] == most_rated_movies[i]).dropna()['title'].values[0]
    axs[i].set_title("Movie: '" + movie_title + "'")
    

for i in range(movies_to_show):
    sns.lineplot(x='date', y='rating', ax=axs[i], data=to_line_plot[i])

fig.suptitle('Rating evolution for the 5 most rated movies')
plt.show() """

' movies_to_show = 5\nfig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))\n\nmost_rated_movies = ratings.groupby(\'movieId\').count().sort_values(\'rating\', ascending=False).head(movies_to_show).index\n\nto_line_plot = []\nfor i in range(movies_to_show):\n    tmp = ratings.where(ratings[\'movieId\'] == most_rated_movies[i]).dropna()\n    tmp[\'date\'] = pd.to_datetime(tmp[\'timestamp\'], unit=\'s\')\n    \n    # Computing the mean for each month\n    tmp = tmp.resample("M", on=\'date\').mean()[[\'movieId\', \'rating\']].dropna()\n    to_line_plot.append(tmp)\n    movie_title = movies.where(movies[\'movieId\'] == most_rated_movies[i]).dropna()[\'title\'].values[0]\n    axs[i].set_title("Movie: \'" + movie_title + "\'")\n    \n\nfor i in range(movies_to_show):\n    sns.lineplot(x=\'date\', y=\'rating\', ax=axs[i], data=to_line_plot[i])\n\nfig.suptitle(\'Rating evolution for the 5 most rated movies\')\nplt.show() '

In [66]:
""" # Same as above cell but the 3 movies with the highest standard deviation
movies_to_show = 3
fig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))

# Take movies with at least 1000 ratings
high_std_movies = ratings.where(
    ratings['movieId']
    .isin(ratings.groupby('movieId')
          .count()
          .where(ratings.groupby('movieId').count()['rating'] > 1000)
          .dropna().index)
    ).dropna()

# most_rated_movies = ratings.groupby('movieId').count().sort_values('rating', ascending=False).head(movies_to_show).index
high_std_movies = high_std_movies.groupby('movieId').std().sort_values('rating', ascending=False).head(movies_to_show).index

to_line_plot = []
for i in range(movies_to_show):
    tmp = ratings.where(ratings['movieId'] == high_std_movies[i]).dropna()
    tmp['date'] = pd.to_datetime(tmp['timestamp'], unit='s')
    
    # Computing the mean for each month
    tmp = tmp.resample("M", on='date').mean()[['movieId', 'rating']].dropna()
    to_line_plot.append(tmp)
    movie_title = movies.where(movies['movieId'] == high_std_movies[i]).dropna()['title'].values[0]
    axs[i].set_title("Movie: '" + movie_title + "'")

for i in range(movies_to_show):
    sns.lineplot(x='date', y='rating', ax=axs[i], data=to_line_plot[i])

# Print the titles of the movies
plt.show() """

' # Same as above cell but the 3 movies with the highest standard deviation\nmovies_to_show = 3\nfig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))\n\n# Take movies with at least 1000 ratings\nhigh_std_movies = ratings.where(\n    ratings[\'movieId\']\n    .isin(ratings.groupby(\'movieId\')\n          .count()\n          .where(ratings.groupby(\'movieId\').count()[\'rating\'] > 1000)\n          .dropna().index)\n    ).dropna()\n\n# most_rated_movies = ratings.groupby(\'movieId\').count().sort_values(\'rating\', ascending=False).head(movies_to_show).index\nhigh_std_movies = high_std_movies.groupby(\'movieId\').std().sort_values(\'rating\', ascending=False).head(movies_to_show).index\n\nto_line_plot = []\nfor i in range(movies_to_show):\n    tmp = ratings.where(ratings[\'movieId\'] == high_std_movies[i]).dropna()\n    tmp[\'date\'] = pd.to_datetime(tmp[\'timestamp\'], unit=\'s\')\n    \n    # Computing the mean for each month\n    tmp = tmp.resample("M", on=\'date\').mean()[[\'movieId\', \'rating\']].dropna()\n    to_line_plot.append(tmp)\n    movie_title = movies.where(movies[\'movieId\'] == high_std_movies[i]).dropna()[\'title\'].values[0]\n    axs[i].set_title("Movie: \'" + movie_title + "\'")\n\nfor i in range(movies_to_show):\n    sns.lineplot(x=\'date\', y=\'rating\', ax=axs[i], data=to_line_plot[i])\n\n# Print the titles of the movies\nplt.show() '

In [67]:
# TODO - compute np.unique(column_array, return_counts=True) for every attribute to visualize results
# follow the last example from this guide https://numpy.org/doc/stable/reference/generated/numpy.unique.html

Plot density for every attribute of dataset

In [68]:
""" # density plot for rating_count
fig, axs = plt.subplots(1,2, figsize=(10, 5))
sns.kdeplot(df['rating_count'], ax=axs[0], label='rating_count')
sns.kdeplot(df['rating_count'].where(df['rating_count'] < 50), ax=axs[1], label='rating_count < 50')

print('Number of movies with rating_count < 50: ', df.where(df['rating_count'] < 50).count()[0])
print('Number of all movies: ', df.shape[0]) """

" # density plot for rating_count\nfig, axs = plt.subplots(1,2, figsize=(10, 5))\nsns.kdeplot(df['rating_count'], ax=axs[0], label='rating_count')\nsns.kdeplot(df['rating_count'].where(df['rating_count'] < 50), ax=axs[1], label='rating_count < 50')\n\nprint('Number of movies with rating_count < 50: ', df.where(df['rating_count'] < 50).count()[0])\nprint('Number of all movies: ', df.shape[0]) "

In [69]:
# density plot for rating year

# convert timestamp to year
df['year_timestamp'] = pd.to_datetime(df['mean_timestamp'], unit='s').dt.year

# delete mean_timestamp
df = df.drop(columns=['mean_timestamp'])

""" sns.kdeplot(df['year_timestamp'])
plt.show() """

" sns.kdeplot(df['year_timestamp'])\nplt.show() "

In [70]:
""" # plot for categories
cat = list(categories)

# count the number of rows containing 1 for each category
cat_dict = {}
for category in cat:
    if category == '(no genres listed)':
        cat_dict['no genre'] = df[category].sum()
    else:
        cat_dict[category] = df[category].sum()

# plot an histogram of the number of rows for each category
fig, axs = plt.subplots(1, 1, figsize=(20, 10))
ax = sns.barplot(x=list(cat_dict.keys()), y=list(cat_dict.values()))
ax.bar_label(container=ax.containers[0], labels=list(cat_dict.keys()))
plt.xticks([])
plt.show() """

" # plot for categories\ncat = list(categories)\n\n# count the number of rows containing 1 for each category\ncat_dict = {}\nfor category in cat:\n    if category == '(no genres listed)':\n        cat_dict['no genre'] = df[category].sum()\n    else:\n        cat_dict[category] = df[category].sum()\n\n# plot an histogram of the number of rows for each category\nfig, axs = plt.subplots(1, 1, figsize=(20, 10))\nax = sns.barplot(x=list(cat_dict.keys()), y=list(cat_dict.values()))\nax.bar_label(container=ax.containers[0], labels=list(cat_dict.keys()))\nplt.xticks([])\nplt.show() "

## Data Preprocessing

In [71]:

# from title extract year
df['year'] = df['title'].str.extract('(\(\d{4}\))', expand=True)
# remove parentheses
df['year'] = df['year'].str.extract('(\d{4})', expand=True)

# remove movies with no year
df = df.dropna(subset=['year'])

# delete title column
df = df.drop(columns=['movieId', 'title'])

# convert year to int
df['year'] = df['year'].astype(int)

display(df.head())

,mean_rating,rating_count,tag,Romance,Crime,Film-Noir,Drama,Action,Children,Horror,...,(no genres listed),Animation,Fantasy,Thriller,Musical,Adventure,Comedy,Western,year_timestamp,year
0,3.893708,57309,"[mission, 3D, é˜®ä¸€é¸£, HEROIC MISSION, joss ...",0,0,0,0,0,1,0,...,0,1,1,0,0,1,1,0,2006,1995
1,3.251527,24228,"[bad cgi, board game, time travel, Dynamic CGI...",0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,2005,1995
2,3.142028,11804,"[Jack Lemmon, old people that is actually funn...",1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,2001,1995
3,2.853547,2523,"[characters, single mother, divorce, revenge, ...",1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1999,1995
4,3.058434,11714,"[daughter, parent child relationship, confiden...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,2001,1995

In [72]:
""" # density plot for film year
sns.kdeplot(df['year'])
plt.show() """

" # density plot for film year\nsns.kdeplot(df['year'])\nplt.show() "

### Correlation results
The following results indicate that there is no correlation between the rating timestamp and the film year, as we thought.
There are instead correlations between genres like Children-Animation and Thriller-Horror like expected.
Other genres less important correlations are Children-Adventure, Fantasy-Adventure, Action-Adventure, Crime-Thriller and Mystery-Thriller.
There is a correlation also between something different from genres as rating_count-mean_rating.
The most interesting correlation (0.8) is mean_timestamp-movieId, which indicates that the period in which the rating was made is highly movie-dependent.

In [73]:
# convert timestamp to year
# df['year_timestamp'] = pd.to_datetime(df['mean_timestamp'], unit='s').dt.year
# year_timestamp can be removed because is less precise than timestamp seeing the correlation with movieId

# delete mean_timestamp column to avoid redundancy - TODO check if it is better to keep it
# df = df.drop(columns=['mean_timestamp'])

# compute analysis between attributes of the dataset
print(df.corr())
print(df.cov())
print(df.describe())

# follow examples from slides on Data Visualization (pages 6-8)
# TODO - write results of correlation in markdown
# TODO - show results of correlation in a graphic way
# TODO - write results of covariance in markdown
# TODO - show results of covariance in a graphic way
# TODO - write results of describe in markdown
# TODO - show results of describe in a graphic way

/var/folders/x8/p0tjyw5163s2pb2vfft_2jbc0000gn/T/ipykernel_855/335129739.py:9: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())
/var/folders/x8/p0tjyw5163s2pb2vfft_2jbc0000gn/T/ipykernel_855/335129739.py:10: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.cov())

                    mean_rating  rating_count   Romance     Crime  Film-Noir  \
mean_rating            1.000000      0.132640  0.043127  0.015203   0.030073
rating_count           0.132640      1.000000  0.026379  0.050338   0.003847
Romance                0.043127      0.026379  1.000000 -0.055434  -0.008976
Crime                  0.015203      0.050338 -0.055434  1.000000   0.151109
Film-Noir              0.030073      0.003847 -0.008976  0.151109   1.000000
Drama                  0.149897     -0.001901  0.135045  0.088269   0.053391
Action                -0.083334      0.106123 -0.069615  0.128641  -0.024931
Children              -0.019069      0.034384 -0.042638 -0.061397  -0.020607
Horror                -0.224045     -0.020006 -0.113761 -0.051396  -0.025305
IMAX                   0.014933      0.113903 -0.016811 -0.009007  -0.006221
Documentary            0.149778     -0.053596 -0.118629 -0.086411  -0.028040
War                    0.050338      0.018146  0.010012 -0.048048  -0.014316
Mystery               -0.012221      0.026069 -0.026952  0.147920   0.056225
Sci-Fi                -0.128357      0.086585 -0.068299 -0.063956  -0.019110
(no genres listed)    -0.001263     -0.039653 -0.078566 -0.064365  -0.018041
Animation              0.020720      0.016321 -0.060998 -0.059662  -0.019222
Fantasy               -0.018992      0.058577  0.009709 -0.058943  -0.017374
Thriller              -0.073329      0.066996 -0.092651  0.231518   0.052114
Musical                0.022940      0.020285  0.090511 -0.037571  -0.007150
Adventure             -0.028135      0.122405 -0.021803 -0.038368  -0.019963
Comedy                -0.029512      0.033881  0.144264 -0.053711  -0.051799
Western               -0.013533     -0.006786 -0.001002 -0.031514  -0.012731
year_timestamp        -0.063017     -0.270450 -0.073035 -0.035090  -0.036078
year                   0.010834      0.022068 -0.077625 -0.051683  -0.130676

                       Drama    Action  Children    Horror      IMAX  ...  \
mean_rating         0.149897 -0.083334 -0.019069 -0.224045  0.014933  ...
rating_count       -0.001901  0.106123  0.034384 -0.020006  0.113903  ...
Romance             0.135045 -0.069615 -0.042638 -0.113761 -0.016811  ...
Crime               0.088269  0.128641 -0.061397 -0.051396 -0.009007  ...
Film-Noir           0.053391 -0.024931 -0.020607 -0.025305 -0.006221  ...
Drama               1.000000 -0.088804 -0.096496 -0.196125 -0.033334  ...
Action             -0.088804  1.000000 -0.033185 -0.032471  0.080300  ...
Children           -0.096496 -0.033185  1.000000 -0.069613  0.040155  ...
Horror             -0.196125 -0.032471 -0.069613  1.000000 -0.008649  ...
IMAX               -0.033334  0.080300  0.040155 -0.008649  1.000000  ...
Documentary        -0.245386 -0.110167 -0.062205 -0.100782  0.014012  ...
War                 0.111106  0.064717 -0.037950 -0.053623 -0.005214  ...
Mystery             0.003872 -0.025307 -0.025078  0.128955 -0.004944  ...
Sci-Fi             -0.140812  0.176103 -0.002880  0.143237  0.071786  ...
(no genres listed) -0.176858 -0.075179 -0.044859 -0.068227 -0.013544  ...
Animation          -0.150547  0.012667  0.331929 -0.055188  0.043910  ...
Fantasy            -0.086840  0.058225  0.197663  0.032483  0.066228  ...
Thriller           -0.021183  0.169424 -0.088047  0.212075  0.006246  ...
Musical            -0.035047 -0.047999  0.055769 -0.043238  0.012596  ...
Adventure          -0.094594  0.243642  0.205558 -0.061444  0.100572  ...
Comedy             -0.201378 -0.077609  0.065424 -0.112882 -0.020176  ...
Western            -0.069003  0.040637 -0.022978 -0.041553 -0.006293  ...
year_timestamp     -0.092376 -0.003235  0.005809  0.049726 -0.005582  ...
year               -0.023082  0.049908  0.033545  0.032810  0.046163  ...

                    (no genres listed)  Animation   Fantasy  Thriller  \
mean_rating                  -0.001263   0.020720 -0.018992 -0.073329
rating_count                 -0.039653   0.016321  0.058577  0.066996
Romance                      -0.078566  -0.060998  0.009709 -0.092651
Crime                        -0.064365  -0.059662 -0.058943  0.231518
Film-Noir                    -0.018041  -0.019222 -0.017374  0.052114
Drama                        -0.176858  -0.150547 -0.086840 -0.021183
Action                       -0.075179   0.012667  0.058225  0.169424
Children                     -0.044859   0.331929  0.197663 -0.088047
Horror                       -0.068227  -0.055188  0.032483  0.212075
IMAX                         -0.013544   0.043910  0.066228  0.006246
Documentary                  -0.061040  -0.058086 -0.068747 -0.126254
War                          -0.037492  -0.025355 -0.030485 -0.033988
Mystery                      -0.046493  -0.026039  0.015703  0.243454
Sci-Fi                       -0.053147   0.049392  0.073190  0.073617
(no genres listed)            1.000000  -0.044545 -0.045733 -0.084128
Animation                    -0.044545   1.000000  0.152592 -0.081408
Fantasy                      -0.045733   0.152592  1.000000 -0.040800
Thriller                     -0.084128  -0.081408 -0.040800  1.000000
Musical                      -0.030796   0.036666  0.036938 -0.060700
Adventure                    -0.056588   0.138585  0.208756 -0.024822
Comedy                       -0.124314   0.008276  0.015107 -0.190074
Western                      -0.031447  -0.026986 -0.032380 -0.049716
year_timestamp                0.126586   0.086410  0.011310 -0.005393
year                         -0.006793  -0.000461 -0.001751  0.092287

                     Musical  Adventure    Comedy   Western  year_timestamp  \
mean_rating         0.022940  -0.028135 -0.029512 -0.013533       -0.063017
rating_count        0.020285   0.122405  0.033881 -0.006786       -0.270450
Romance             0.090511  -0.021803  0.144264 -0.001002       -0.073035
Crime              -0.037571  -0.038368 -0.053711 -0.031514       -0.035090
Film-Noir          -0.007150  -0.019963 -0.051799 -0.012731       -0.036078
Drama              -0.035047  -0.094594 -0.201378 -0.069003       -0.092376
Action             -0.047999   0.243642 -0.077609  0.040637       -0.003235
Children            0.055769   0.205558  0.065424 -0.022978        0.005809
Horror             -0.043238  -0.061444 -0.112882 -0.041553        0.049726
IMAX                0.012596   0.100572 -0.020176 -0.006293       -0.005582
Documentary         0.002097  -0.069883 -0.166154 -0.046125        0.066492
War                -0.018159   0.031948 -0.076998 -0.002050       -0.043967
Mystery            -0.030776  -0.020457 -0.078459 -0.024696        0.002992
Sci-Fi             -0.026526   0.117147 -0.071206 -0.029562        0.008763
(no genres listed) -0.030796  -0.056588 -0.124314 -0.031447        0.126586
Animation           0.036666   0.138585  0.008276 -0.026986        0.086410
Fantasy             0.036938   0.208756  0.015107 -0.032380        0.011310
Thriller           -0.060700  -0.024822 -0.190074 -0.049716       -0.005393
Musical             1.000000  -0.002501  0.073371 -0.003233       -0.093978
Adventure          -0.002501   1.000000 -0.017212  0.035610       -0.042459
Comedy              0.073371  -0.017212  1.000000 -0.037637       -0.082880
Western            -0.003233   0.035610 -0.037637  1.000000       -0.020952
year_timestamp     -0.093978  -0.042459 -0.082880 -0.020952        1.000000
year               -0.100342  -0.025325 -0.005243 -0.145521        0.141910

                        year
mean_rating         0.010834
rating_count        0.022068
Romance            -0.077625
Crime              -0.051683
Film-Noir          -0.130676
Drama              -0.023082
Action              0.049908
Children            0.033545
Horror              0.032810
IMAX                0.046163
Documentary         0.148994
War                -0.081094
Mystery            -0.029729
Sci-Fi              0.030939
(no genres listed) -0.006793
Animation          -0.000461
Fantasy            -0.001751
Thriller            0.092287
Musical            -0.100342
Adventure          -0.025325
Comedy             -0.005243
Western            -0.145521
year_timestamp      0.141910
year                1.000000

[24 rows x 24 columns]
                    mean_rating  rating_count    Romance      Crime  \
mean_rating            0.426702  2.538626e+02   0.009652   0.002918
rating_count         253.862560  8.584664e+06  26.479736  43.331685
Romance                0.009652  2.647974e+01   0.117377  -0.005580
Crime                  0.002918  4.333168e+01  -0.005580   0.086318
Film-Noir              0.001774  1.017664e+00  -0.000278   0.004008
Drama                  0.048643 -2.766823e+00   0.022985   0.012883
Action                -0.018053  1.031174e+02  -0.007910   0.012534
Children              -0.002682  2.169318e+01  -0.003146  -0.003884
Horror                -0.045046 -1.804163e+01  -0.011996  -0.004648
IMAX                   0.000664  2.270184e+01  -0.000392  -0.000180
Documentary            0.027525 -4.417794e+01  -0.011434  -0.007142
War                    0.006006  9.710756e+00   0.000627  -0.002578
Mystery               -0.001775  1.698436e+01  -0.002053   0.009664
Sci-Fi                -0.020978  6.347100e+01  -0.005854  -0.004701
(no genres listed)    -0.000157 -2.215439e+01  -0.005133  -0.003606
Animation              0.002896  1.023197e+01  -0.004471  -0.003751
Fantasy               -0.002718  3.760443e+01   0.000729  -0.003794
Thriller              -0.017229  7.060662e+01  -0.011418   0.024466
Musical                0.002274  9.018185e+00   0.004705  -0.001675
Adventure             -0.004852  9.468820e+01  -0.001972  -0.002976
Comedy                -0.008678  4.468778e+01   0.022249  -0.007104
Western               -0.001368 -3.077554e+00  -0.000053  -0.001433
year_timestamp        -0.193370 -3.722375e+03  -0.117543  -0.048429
year                   0.177538  1.622033e+03  -0.667148  -0.380911

                    Film-Noir     Drama      Action   Children     Horror  \
mean_rating          0.001774  0.048643   -0.018053  -0.002682  -0.045046
rating_count         1.017664 -2.766823  103.117398  21.693177 -18.041630
Romance             -0.000278  0.022985   -0.007910  -0.003146  -0.011996
Crime                0.004008  0.012883    0.012534  -0.003884  -0.004648
Film-Noir            0.008152  0.002395   -0.000746  -0.000401  -0.000703
Drama                0.002395  0.246795   -0.014631  -0.010322  -0.029989
Action              -0.000746 -0.014631    0.109981  -0.002370  -0.003314
Children            -0.000401 -0.010322   -0.002370   0.046366  -0.004614
Horror              -0.000703 -0.029989   -0.003314  -0.004614   0.094738
IMAX                -0.000038 -0.001126    0.001811   0.000588  -0.000181
Documentary         -0.000712 -0.034295   -0.010278  -0.003768  -0.008727
War                 -0.000236  0.010082    0.003920  -0.001493  -0.003015
Mystery              0.001129  0.000428   -0.001866  -0.001201   0.008826
Sci-Fi              -0.000432 -0.017502    0.014612  -0.000155   0.011030
(no genres listed)  -0.000311 -0.016754   -0.004754  -0.001842  -0.004004
Animation           -0.000371 -0.016002    0.000899   0.015293  -0.003635
Fantasy             -0.000344 -0.009452    0.004231   0.009326   0.002191
Thriller             0.001692 -0.003785    0.020210  -0.006819   0.023479
Musical             -0.000098 -0.002642   -0.002415   0.001822  -0.002019
Adventure           -0.000476 -0.012407    0.021333   0.011686  -0.004993
Comedy              -0.002105 -0.045035   -0.011586   0.006342  -0.015641
Western             -0.000178 -0.005306    0.002086  -0.000766  -0.001980
year_timestamp      -0.015302 -0.215576   -0.005040   0.005876   0.071898
year                -0.295975 -0.287659    0.415201   0.181200   0.253336

                         IMAX  ...  (no genres listed)  Animation    Fantasy  \
mean_rating          0.000664  ...           -0.000157   0.002896  -0.002718
rating_count        22.701841  ...          -22.154386  10.231971  37.604426
Romance             -0.000392  ...           -0.005133  -0.004471   0.000729
Crime               -0.000180  ...           -0.003606  -0.003751  -0.003794
Film-Noir           -0.000038  ...           -0.000311  -0.000371  -0.000344
Drama               -0.001126  ...           -0.016754  -0.016002  -0.009452
Action               0.001811  ...           -0.004754   0.000899   0.004231
Children             0.000588  ...           -0.001842   0.015293   0.009326
Horror              -0.000181  ...           -0.004004  -0.003635   0.002191
IMAX                 0.004627  ...           -0.000176   0.000639   0.000987
Documentary          0.000268  ...           -0.003275  -0.003496  -0.004238
War                 -0.000065  ...           -0.001306  -0.000991  -0.001220
Mystery             -0.000075  ...           -0.001971  -0.001239   0.000765
Sci-Fi               0.001222  ...           -0.002536   0.002644   0.004012
(no genres listed)  -0.000176  ...            0.036362  -0.001817  -0.001911
Animation            0.000639  ...           -0.001817   0.045782   0.007154
Fantasy              0.000987  ...           -0.001911   0.007154   0.048007
Thriller             0.000153  ...           -0.005770  -0.006265  -0.003215
Musical              0.000130  ...           -0.000891   0.001190   0.001228
Adventure            0.001806  ...           -0.002849   0.007829   0.012076
Comedy              -0.000618  ...           -0.010671   0.000797   0.001490
Western             -0.000066  ...           -0.000928  -0.000894  -0.001098
year_timestamp      -0.001784  ...            0.113392   0.086853   0.011641
year                 0.078775  ...           -0.032495  -0.002474  -0.009622

                     Thriller   Musical  Adventure     Comedy   Western  \
mean_rating         -0.017229  0.002274  -0.004852  -0.008678 -0.001368
rating_count        70.606616  9.018185  94.688197  44.687775 -3.077554
Romance             -0.011418  0.004705  -0.001972   0.022249 -0.000053
Crime                0.024466 -0.001675  -0.002976  -0.007104 -0.001433
Film-Noir            0.001692 -0.000098  -0.000476  -0.002105 -0.000178
Drama               -0.003785 -0.002642  -0.012407  -0.045035 -0.005306
Action               0.020210 -0.002415   0.021333  -0.011586  0.002086
Children            -0.006819  0.001822   0.011686   0.006342 -0.000766
Horror               0.023479 -0.002019  -0.004993  -0.015641 -0.001980
IMAX                 0.000153  0.000130   0.001806  -0.000618 -0.000066
Documentary         -0.012776  0.000090  -0.005191  -0.021042 -0.002009
War                 -0.002233 -0.000503   0.001541  -0.006331 -0.000058
Mystery              0.019473 -0.001038  -0.001201  -0.007854 -0.000850
Sci-Fi               0.006625 -0.001007   0.007738  -0.008020 -0.001145
(no genres listed)  -0.005770 -0.000891  -0.002849  -0.010671 -0.000928
Animation           -0.006265  0.001190   0.007829   0.000797 -0.000894
Fantasy             -0.003215  0.001228   0.012076   0.001490 -0.001098
Thriller             0.129380 -0.003313  -0.002357  -0.030777 -0.002768
Musical             -0.003313  0.023024  -0.000100   0.005012 -0.000076
Adventure           -0.002357 -0.000100   0.069706  -0.002046  0.001455
Comedy              -0.030777  0.005012  -0.002046   0.202646 -0.002623
Western             -0.002768 -0.000076   0.001455  -0.002623  0.023959
year_timestamp      -0.009113 -0.066987  -0.052659  -0.175263 -0.015235
year                 0.832727 -0.381946  -0.167734  -0.059204 -0.565056

                    year_timestamp         year
mean_rating              -0.193370     0.177538
rating_count          -3722.374624  1622.032872
Romance                  -0.117543    -0.667148
Crime                    -0.048429    -0.380911
Film-Noir                -0.015302    -0.295975
Drama                    -0.215576    -0.287659
Action                   -0.005040     0.415201
Children                  0.005876     0.181200
Horror                    0.071898     0.253336
IMAX                     -0.001784     0.078775
Documentary               0.087872     1.051489
War                      -0.037724    -0.371571
Mystery                   0.003126    -0.165838
Sci-Fi                    0.010299     0.194181
(no genres listed)        0.113392    -0.032495
Animation                 0.086853    -0.002474
Fantasy                   0.011641    -0.009622
Thriller                 -0.009113     0.832727
Musical                  -0.066987    -0.381946
Adventure                -0.052659    -0.167734
Comedy                   -0.175263    -0.059204
Western                  -0.015235    -0.565056
year_timestamp           22.066962    16.722912
year                     16.722912   629.298991

[24 rows x 24 columns]
        mean_rating  rating_count       Romance         Crime     Film-Noir  \
count  41731.000000  41731.000000  41731.000000  41731.000000  41731.000000
mean       3.110263    596.810093      0.135822      0.095421      0.008219
std        0.653225   2929.959710      0.342604      0.293799      0.090288
min        0.500000      1.000000      0.000000      0.000000      0.000000
25%        2.755964      3.000000      0.000000      0.000000      0.000000
50%        3.187500     12.000000      0.000000      0.000000      0.000000
75%        3.519877     94.000000      0.000000      0.000000      0.000000
max        5.000000  81491.000000      1.000000      1.000000      1.000000

              Drama        Action      Children        Horror          IMAX  \
count  41731.000000  41731.000000  41731.000000  41731.000000  41731.000000
mean       0.443339      0.125806      0.048741      0.105964      0.004649
std        0.496785      0.331634      0.215328      0.307796      0.068024
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        1.000000      0.000000      0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

       ...  (no genres listed)     Animation       Fantasy      Thriller  \
count  ...        41731.000000  41731.000000  41731.000000  41731.000000
mean   ...            0.037790      0.048094      0.050562      0.152692
std    ...            0.190689      0.213967      0.219104      0.359695
min    ...            0.000000      0.000000      0.000000      0.000000
25%    ...            0.000000      0.000000      0.000000      0.000000
50%    ...            0.000000      0.000000      0.000000      0.000000
75%    ...            0.000000      0.000000      0.000000      0.000000
max    ...            1.000000      1.000000      1.000000      1.000000

            Musical     Adventure        Comedy       Western  year_timestamp  \
count  41731.000000  41731.000000  41731.000000  41731.000000    41731.000000
mean       0.023580      0.075388      0.282380      0.024562     2014.229014
std        0.151737      0.264019      0.450163      0.154788        4.697548
min        0.000000      0.000000      0.000000      0.000000     1997.000000
25%        0.000000      0.000000      0.000000      0.000000     2013.000000
50%        0.000000      0.000000      0.000000      0.000000     2016.000000
75%        0.000000      0.000000      1.000000      0.000000     2017.000000
max        1.000000      1.000000      1.000000      1.000000     2019.000000

               year
count  41731.000000
mean    1991.565647
std       25.085832
min     1874.000000
25%     1976.000000
50%     2001.000000
75%     2012.000000
max     2019.000000

[8 rows x 24 columns]

In [74]:
# remove tag column
df = df.drop(columns=['tag'])

display(df.head())

,mean_rating,rating_count,Romance,Crime,Film-Noir,Drama,Action,Children,Horror,IMAX,...,(no genres listed),Animation,Fantasy,Thriller,Musical,Adventure,Comedy,Western,year_timestamp,year
0,3.893708,57309,0,0,0,0,0,1,0,0,...,0,1,1,0,0,1,1,0,2006,1995
1,3.251527,24228,0,0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,2005,1995
2,3.142028,11804,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,2001,1995
3,2.853547,2523,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1999,1995
4,3.058434,11714,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,2001,1995

In [75]:
# TODO - show scatter plot for mean_rating

In [76]:
# TODO - balancing dataset

## Modeling

In [77]:
""" # Split data
df2 = df.copy()
X = df2.drop(columns=['mean_rating'])
y = df['mean_rating']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

import tensorflow as tf

# Create the model using the Keras API of Tensorflow
model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(1)
])

# Compile the model, specifying the loss function and optimizer
model.compile(loss='mean_squared_error', metrics=['mean_squared_error'], optimizer='adam')

# Train the model on the training data
history = model.fit(X_train, y_train, epochs=100, batch_size=256, validation_split=0.2)


# Evaluate the model on the test data
loss, mse = model.evaluate(X_test, y_test, verbose=0)
print('Loss: ', loss)
print('MSE: ', mse)

display(y_test[:5])
model.predict(X_test[:5]) """

" # Split data\ndf2 = df.copy()\nX = df2.drop(columns=['mean_rating'])\ny = df['mean_rating']\n\n# Split the data into training and testing sets\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)\n\nimport tensorflow as tf\n\n# Create the model using the Keras API of Tensorflow\nmodel = tf.keras.Sequential([\n    tf.keras.layers.Dense(4, activation='relu', input_shape=(X_train.shape[1],)),\n    tf.keras.layers.Dense(16, activation='relu'),\n    tf.keras.layers.Dense(1)\n])\n\n# Compile the model, specifying the loss function and optimizer\nmodel.compile(loss='mean_squared_error', metrics=['mean_squared_error'], optimizer='adam')\n\n# Train the model on the training data\nhistory = model.fit(X_train, y_train, epochs=100, batch_size=256, validation_split=0.2)\n\n\n# Evaluate the model on the test data\nloss, mse = model.evaluate(X_test, y_test, verbose=0)\nprint('Loss: ', loss)\nprint('MSE: ', mse)\n\ndisplay(y_test[:5])\nmodel.predict(X_test[:5]) "

In [78]:
""" import torch.nn as nn

# Split data
df2 = df.copy()
X = df2.drop(columns=['mean_rating'])
y = df['mean_rating']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Convert the data to tensors
X_train = torch.tensor(X_train.values, dtype=torch.float32)
y_train = torch.tensor(y_train.values, dtype=torch.float32)
X_test = torch.tensor(X_test.values, dtype=torch.float32)
y_test = torch.tensor(y_test.values, dtype=torch.float32)

# Create the model using the torch
model = nn.Sequential(
    nn.Linear(X_train.shape[1], 4),
    nn.ReLU(),
    nn.Linear(4, 16),
    nn.ReLU(),
    nn.Linear(16, 1)
)

# Compile the model, specifying the loss function and optimizer
loss_fn = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=1e-3)

# Train the model on the training data X_train and y_train
epochs = 20
for epoch in range(epochs):
    print('Epoch ', epoch)
    y_pred = model(X_train)
    loss = loss_fn(y_pred, y_train)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

# Evaluate the model on the test data
loss = loss_fn(model(X_test), y_test)
print('Loss: ', loss.item())

display(y_test[:5]) """

" import torch.nn as nn\n\n# Split data\ndf2 = df.copy()\nX = df2.drop(columns=['mean_rating'])\ny = df['mean_rating']\n\n# Split the data into training and testing sets\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)\n\n# Convert the data to tensors\nX_train = torch.tensor(X_train.values, dtype=torch.float32)\ny_train = torch.tensor(y_train.values, dtype=torch.float32)\nX_test = torch.tensor(X_test.values, dtype=torch.float32)\ny_test = torch.tensor(y_test.values, dtype=torch.float32)\n\n# Create the model using the torch\nmodel = nn.Sequential(\n    nn.Linear(X_train.shape[1], 4),\n    nn.ReLU(),\n    nn.Linear(4, 16),\n    nn.ReLU(),\n    nn.Linear(16, 1)\n)\n\n# Compile the model, specifying the loss function and optimizer\nloss_fn = nn.MSELoss()\noptimizer = torch.optim.Adam(model.parameters(), lr=1e-3)\n\n# Train the model on the training data X_train and y_train\nepochs = 20\nfor epoch in range(epochs):\n    print('Epoch ', epoch)\n    y_pred = model(X_train)\n    loss = loss_fn(y_pred, y_train)\n    optimizer.zero_grad()\n    loss.backward()\n    optimizer.step()\n\n# Evaluate the model on the test data\nloss = loss_fn(model(X_test), y_test)\nprint('Loss: ', loss.item())\n\ndisplay(y_test[:5]) "