In [205]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import torch
from sklearn.model_selection import train_test_split
from sklearn import tree

## Data Acquisition
##### Flat Acquisition using csv files

In [206]:
movies = pd.read_csv('./data/movies.csv')
# genome_scores = pd.read_csv('./data/genome-scores.csv')
# genome_tags = pd.read_csv('./data/genome-tags.csv')
ratings = pd.read_csv('./data/ratings.csv')
tags = pd.read_csv('./data/tags.csv')

In [207]:
# print the first 5 rows of the movies, ratings, and tags dataframes
display(movies.head())
display(ratings.head())
display(tags.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

### Data Wrangling

In [208]:
grouped_ratings = ratings.groupby('movieId').agg({'rating': ['mean', 'count'], 'timestamp': ['mean']})
grouped_ratings.columns = ['mean_rating', 'rating_count', 'mean_timestamp']
grouped_ratings = grouped_ratings.astype({'mean_timestamp': 'int'})

# Merge dei dataset movies e ratings
# rimuove i film che non hanno rating
movies_ratings = pd.merge(movies, grouped_ratings, on='movieId')

# mantiene i duplicati, per rimuoverli usare .apply[set, list]
# tags.groupby('movieId')['tag'].apply(set)
new_tags = tags.groupby('movieId')['tag'].apply(set).apply(list)

df = pd.merge(movies_ratings, new_tags, on='movieId')

display(df.head())

,movieId,title,genres,mean_rating,rating_count,mean_timestamp,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.893708,57309,1153152210,"[rainy day watchlist, family, neighborhood, mi..."
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.251527,24228,1122310117,"[Dynamic CGI Action, Fantasy, animals, Filmed ..."
2,3,Grumpier Old Men (1995),Comedy|Romance,3.142028,11804,980602256,"[Daryl Hannah, old, CLV, best friend, old peop..."
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.853547,2523,942460471,"[interracial relationship, divorce, revenge, C..."
4,5,Father of the Bride Part II (1995),Comedy,3.058434,11714,1004723013,"[Fantasy, Comedy, family, Touching, CLV, gynec..."

### Data Preparation (Data cleaning, Duplicates filtering, Data encoding)

##### Data Cleaning
The following results show that there are no NaN values in the dataset.

In [209]:
# print number of rows
print('Number of rows: ', df.shape[0])

# drop rows with missing values
df = df.dropna()

# print number of rows after dropping missing values
print('Number of rows after dropping missing values: ', df.shape[0])

Number of rows:  41875
Number of rows after dropping missing values:  41875

##### Data Encoding
Multicategorical One-Hot encoding for film genres

In [210]:
# one hot encoding for genres
# print every category in movies dataset
categories = set()
for s in df['genres'].str.split('|').values:
    categories = categories.union(set(s))

# add columns for each category
for category in categories:
    df[category] = df['genres'].str.contains(category).astype(int)

# delete genres column
df = df.drop(columns=['genres'])

display(df.head())

/var/folders/x8/p0tjyw5163s2pb2vfft_2jbc0000gn/T/ipykernel_11861/4060750238.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[category] = df['genres'].str.contains(category).astype(int)

,movieId,title,mean_rating,rating_count,mean_timestamp,tag,Romance,Fantasy,Animation,Comedy,...,Thriller,Drama,War,Children,Sci-Fi,Documentary,Mystery,Film-Noir,IMAX,Musical
0,1,Toy Story (1995),3.893708,57309,1153152210,"[rainy day watchlist, family, neighborhood, mi...",0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
1,2,Jumanji (1995),3.251527,24228,1122310117,"[Dynamic CGI Action, Fantasy, animals, Filmed ...",0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),3.142028,11804,980602256,"[Daryl Hannah, old, CLV, best friend, old peop...",1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),2.853547,2523,942460471,"[interracial relationship, divorce, revenge, C...",1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),3.058434,11714,1004723013,"[Fantasy, Comedy, family, Touching, CLV, gynec...",0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

##### Duplicates Filtering
The following results show that there are no duplicates in the dataset (as expected after merge operation).

In [211]:
df_preprocessed = df.copy()

# drop tag column TODO: find a way to use tag
df_preprocessed = df_preprocessed.drop(columns=['tag'])

# print number of rows
print('Number of rows: ', df_preprocessed.shape[0])

# drop duplicated rows
df_preprocessed = df_preprocessed.drop_duplicates()

# print number of rows after dropping missing values
print('Number of rows after dropping duplicated rows: ', df_preprocessed.shape[0])

Number of rows:  41875
Number of rows after dropping duplicated rows:  41875

## Data Visualization

In [212]:
""" # rating distribution from ratings.csv
sns.countplot(x='rating', data=ratings)
plt.show()

sns.boxplot(x='rating', data=ratings)
plt.show() """

" # rating distribution from ratings.csv\nsns.countplot(x='rating', data=ratings)\nplt.show()\n\nsns.boxplot(x='rating', data=ratings)\nplt.show() "

Rather than using discrete bins, a KDE plot smooths the observations with a Gaussian kernel, producing a continuous density estimate. This is used for continuous attributes like rating mean.

It is done to show differences after data aggregation in calculating mean for each film.

In [213]:
""" # rating distribution from df
sns.kdeplot(df['mean_rating'])
plt.xlabel('rating mean for film')
plt.title('Rating distribution in dataframe')
plt.show() """

" # rating distribution from df\nsns.kdeplot(df['mean_rating'])\nplt.xlabel('rating mean for film')\nplt.title('Rating distribution in dataframe')\nplt.show() "

Observing the distribution of all attributes for every file.

This is useful to show data trends, to reveal outliers and leverage points, to provide hints about modeling techniques to apply.

In [214]:
""" # print distribution for ratings
fig, axs = plt.subplots(3)
sns.kdeplot(ratings['timestamp'], ax=axs[0], color='r', label='timestamp')
sns.kdeplot(ratings['rating'], ax=axs[1], color='b', label='rating')
sns.kdeplot(ratings['movieId'], ax=axs[2], color='g', label='movieId')

axs[0].set_xlabel('timestamp')
axs[1].set_xlabel('rating')
axs[2].set_xlabel('movieId')
plt.show() """

" # print distribution for ratings\nfig, axs = plt.subplots(3)\nsns.kdeplot(ratings['timestamp'], ax=axs[0], color='r', label='timestamp')\nsns.kdeplot(ratings['rating'], ax=axs[1], color='b', label='rating')\nsns.kdeplot(ratings['movieId'], ax=axs[2], color='g', label='movieId')\n\naxs[0].set_xlabel('timestamp')\naxs[1].set_xlabel('rating')\naxs[2].set_xlabel('movieId')\nplt.show() "

In [215]:
# Scatter plot matrix
# Completamente inutile
# sns.pairplot(ratings)
# plt.show()

In [216]:
""" movies_to_show = 5
fig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))

most_rated_movies = ratings.groupby('movieId').count().sort_values('rating', ascending=False).head(movies_to_show).index

to_line_plot = []
for i in range(movies_to_show):
    tmp = ratings.where(ratings['movieId'] == most_rated_movies[i]).dropna()
    tmp['date'] = pd.to_datetime(tmp['timestamp'], unit='s')
    
    # Computing the mean for each month
    tmp = tmp.resample("M", on='date').mean()[['movieId', 'rating']].dropna()
    to_line_plot.append(tmp)
    movie_title = movies.where(movies['movieId'] == most_rated_movies[i]).dropna()['title'].values[0]
    axs[i].set_title("Movie: '" + movie_title + "'")
    

for i in range(movies_to_show):
    sns.lineplot(x='date', y='rating', ax=axs[i], data=to_line_plot[i])

fig.suptitle('Rating evolution for the 5 most rated movies')
plt.show() """

' movies_to_show = 5\nfig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))\n\nmost_rated_movies = ratings.groupby(\'movieId\').count().sort_values(\'rating\', ascending=False).head(movies_to_show).index\n\nto_line_plot = []\nfor i in range(movies_to_show):\n    tmp = ratings.where(ratings[\'movieId\'] == most_rated_movies[i]).dropna()\n    tmp[\'date\'] = pd.to_datetime(tmp[\'timestamp\'], unit=\'s\')\n    \n    # Computing the mean for each month\n    tmp = tmp.resample("M", on=\'date\').mean()[[\'movieId\', \'rating\']].dropna()\n    to_line_plot.append(tmp)\n    movie_title = movies.where(movies[\'movieId\'] == most_rated_movies[i]).dropna()[\'title\'].values[0]\n    axs[i].set_title("Movie: \'" + movie_title + "\'")\n    \n\nfor i in range(movies_to_show):\n    sns.lineplot(x=\'date\', y=\'rating\', ax=axs[i], data=to_line_plot[i])\n\nfig.suptitle(\'Rating evolution for the 5 most rated movies\')\nplt.show() '

In [217]:
""" # Same as above cell but the 3 movies with the highest standard deviation
movies_to_show = 3
fig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))

# Take movies with at least 1000 ratings
high_std_movies = ratings.where(
    ratings['movieId']
    .isin(ratings.groupby('movieId')
          .count()
          .where(ratings.groupby('movieId').count()['rating'] > 1000)
          .dropna().index)
    ).dropna()

# most_rated_movies = ratings.groupby('movieId').count().sort_values('rating', ascending=False).head(movies_to_show).index
high_std_movies = high_std_movies.groupby('movieId').std().sort_values('rating', ascending=False).head(movies_to_show).index

to_line_plot = []
for i in range(movies_to_show):
    tmp = ratings.where(ratings['movieId'] == high_std_movies[i]).dropna()
    tmp['date'] = pd.to_datetime(tmp['timestamp'], unit='s')
    
    # Computing the mean for each month
    tmp = tmp.resample("M", on='date').mean()[['movieId', 'rating']].dropna()
    to_line_plot.append(tmp)
    movie_title = movies.where(movies['movieId'] == high_std_movies[i]).dropna()['title'].values[0]
    axs[i].set_title("Movie: '" + movie_title + "'")

for i in range(movies_to_show):
    sns.lineplot(x='date', y='rating', ax=axs[i], data=to_line_plot[i])

# Print the titles of the movies
plt.show() """

' # Same as above cell but the 3 movies with the highest standard deviation\nmovies_to_show = 3\nfig, axs = plt.subplots(movies_to_show, sharex=True, sharey=True, figsize=(10, 10))\n\n# Take movies with at least 1000 ratings\nhigh_std_movies = ratings.where(\n    ratings[\'movieId\']\n    .isin(ratings.groupby(\'movieId\')\n          .count()\n          .where(ratings.groupby(\'movieId\').count()[\'rating\'] > 1000)\n          .dropna().index)\n    ).dropna()\n\n# most_rated_movies = ratings.groupby(\'movieId\').count().sort_values(\'rating\', ascending=False).head(movies_to_show).index\nhigh_std_movies = high_std_movies.groupby(\'movieId\').std().sort_values(\'rating\', ascending=False).head(movies_to_show).index\n\nto_line_plot = []\nfor i in range(movies_to_show):\n    tmp = ratings.where(ratings[\'movieId\'] == high_std_movies[i]).dropna()\n    tmp[\'date\'] = pd.to_datetime(tmp[\'timestamp\'], unit=\'s\')\n    \n    # Computing the mean for each month\n    tmp = tmp.resample("M", on=\'date\').mean()[[\'movieId\', \'rating\']].dropna()\n    to_line_plot.append(tmp)\n    movie_title = movies.where(movies[\'movieId\'] == high_std_movies[i]).dropna()[\'title\'].values[0]\n    axs[i].set_title("Movie: \'" + movie_title + "\'")\n\nfor i in range(movies_to_show):\n    sns.lineplot(x=\'date\', y=\'rating\', ax=axs[i], data=to_line_plot[i])\n\n# Print the titles of the movies\nplt.show() '

In [218]:
# TODO - compute np.unique(column_array, return_counts=True) for every attribute to visualize results
# follow the last example from this guide https://numpy.org/doc/stable/reference/generated/numpy.unique.html

Plot density for every attribute of dataset

In [219]:
""" # density plot for rating_count
fig, axs = plt.subplots(1,2, figsize=(10, 5))
sns.kdeplot(df['rating_count'], ax=axs[0], label='rating_count')
sns.kdeplot(df['rating_count'].where(df['rating_count'] < 50), ax=axs[1], label='rating_count < 50')

print('Number of movies with rating_count < 50: ', df.where(df['rating_count'] < 50).count()[0])
print('Number of all movies: ', df.shape[0]) """

" # density plot for rating_count\nfig, axs = plt.subplots(1,2, figsize=(10, 5))\nsns.kdeplot(df['rating_count'], ax=axs[0], label='rating_count')\nsns.kdeplot(df['rating_count'].where(df['rating_count'] < 50), ax=axs[1], label='rating_count < 50')\n\nprint('Number of movies with rating_count < 50: ', df.where(df['rating_count'] < 50).count()[0])\nprint('Number of all movies: ', df.shape[0]) "

In [220]:
# density plot for rating year

# convert timestamp to year
df['year_timestamp'] = pd.to_datetime(df['mean_timestamp'], unit='s').dt.year

# delete mean_timestamp
df = df.drop(columns=['mean_timestamp'])

""" sns.kdeplot(df['year_timestamp'])
plt.show() """

" sns.kdeplot(df['year_timestamp'])\nplt.show() "

In [221]:
""" # plot for categories
cat = list(categories)

# count the number of rows containing 1 for each category
cat_dict = {}
for category in cat:
    if category == '(no genres listed)':
        cat_dict['no genre'] = df[category].sum()
    else:
        cat_dict[category] = df[category].sum()

# plot an histogram of the number of rows for each category
fig, axs = plt.subplots(1, 1, figsize=(20, 10))
ax = sns.barplot(x=list(cat_dict.keys()), y=list(cat_dict.values()))
ax.bar_label(container=ax.containers[0], labels=list(cat_dict.keys()))
plt.xticks([])
plt.show() """

" # plot for categories\ncat = list(categories)\n\n# count the number of rows containing 1 for each category\ncat_dict = {}\nfor category in cat:\n    if category == '(no genres listed)':\n        cat_dict['no genre'] = df[category].sum()\n    else:\n        cat_dict[category] = df[category].sum()\n\n# plot an histogram of the number of rows for each category\nfig, axs = plt.subplots(1, 1, figsize=(20, 10))\nax = sns.barplot(x=list(cat_dict.keys()), y=list(cat_dict.values()))\nax.bar_label(container=ax.containers[0], labels=list(cat_dict.keys()))\nplt.xticks([])\nplt.show() "

## Data Preprocessing

In [222]:

# from title extract year
df['year'] = df['title'].str.extract('(\(\d{4}\))', expand=True)
# remove parentheses
df['year'] = df['year'].str.extract('(\d{4})', expand=True)

# remove movies with no year
df = df.dropna(subset=['year'])

# delete title column
df = df.drop(columns=['movieId', 'title'])

# convert year to int
df['year'] = df['year'].astype(int)

display(df.head())

,mean_rating,rating_count,tag,Romance,Fantasy,Animation,Comedy,Crime,Western,(no genres listed),...,War,Children,Sci-Fi,Documentary,Mystery,Film-Noir,IMAX,Musical,year_timestamp,year
0,3.893708,57309,"[rainy day watchlist, family, neighborhood, mi...",0,1,1,1,0,0,0,...,0,1,0,0,0,0,0,0,2006,1995
1,3.251527,24228,"[Dynamic CGI Action, Fantasy, animals, Filmed ...",0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2005,1995
2,3.142028,11804,"[Daryl Hannah, old, CLV, best friend, old peop...",1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,2001,1995
3,2.853547,2523,"[interracial relationship, divorce, revenge, C...",1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1999,1995
4,3.058434,11714,"[Fantasy, Comedy, family, Touching, CLV, gynec...",0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,2001,1995

In [223]:
""" # density plot for film year
sns.kdeplot(df['year'])
plt.show() """

" # density plot for film year\nsns.kdeplot(df['year'])\nplt.show() "

### Correlation results
The following results indicate that there is no correlation between the rating timestamp and the film year, as we thought.
There are instead correlations between genres like Children-Animation and Thriller-Horror like expected.
Other genres less important correlations are Children-Adventure, Fantasy-Adventure, Action-Adventure, Crime-Thriller and Mystery-Thriller.
There is a correlation also between something different from genres as rating_count-mean_rating.
The most interesting correlation (0.8) is mean_timestamp-movieId, which indicates that the period in which the rating was made is highly movie-dependent.

In [224]:
# convert timestamp to year
# df['year_timestamp'] = pd.to_datetime(df['mean_timestamp'], unit='s').dt.year
# year_timestamp can be removed because is less precise than timestamp seeing the correlation with movieId

# delete mean_timestamp column to avoid redundancy - TODO check if it is better to keep it
# df = df.drop(columns=['mean_timestamp'])

# compute analysis between attributes of the dataset
print(df.corr())
print(df.cov())
print(df.describe())

# follow examples from slides on Data Visualization (pages 6-8)
# TODO - write results of correlation in markdown
# TODO - show results of correlation in a graphic way
# TODO - write results of covariance in markdown
# TODO - show results of covariance in a graphic way
# TODO - write results of describe in markdown
# TODO - show results of describe in a graphic way

/var/folders/x8/p0tjyw5163s2pb2vfft_2jbc0000gn/T/ipykernel_11861/335129739.py:9: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())
/var/folders/x8/p0tjyw5163s2pb2vfft_2jbc0000gn/T/ipykernel_11861/335129739.py:10: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.cov())

                    mean_rating  rating_count   Romance   Fantasy  Animation  \
mean_rating            1.000000      0.132640  0.043127 -0.018992   0.020720
rating_count           0.132640      1.000000  0.026379  0.058577   0.016321
Romance                0.043127      0.026379  1.000000  0.009709  -0.060998
Fantasy               -0.018992      0.058577  0.009709  1.000000   0.152592
Animation              0.020720      0.016321 -0.060998  0.152592   1.000000
Comedy                -0.029512      0.033881  0.144264  0.015107   0.008276
Crime                  0.015203      0.050338 -0.055434 -0.058943  -0.059662
Western               -0.013533     -0.006786 -0.001002 -0.032380  -0.026986
(no genres listed)    -0.001263     -0.039653 -0.078566 -0.045733  -0.044545
Action                -0.083334      0.106123 -0.069615  0.058225   0.012667
Horror                -0.224045     -0.020006 -0.113761  0.032483  -0.055188
Adventure             -0.028135      0.122405 -0.021803  0.208756   0.138585
Thriller              -0.073329      0.066996 -0.092651 -0.040800  -0.081408
Drama                  0.149897     -0.001901  0.135045 -0.086840  -0.150547
War                    0.050338      0.018146  0.010012 -0.030485  -0.025355
Children              -0.019069      0.034384 -0.042638  0.197663   0.331929
Sci-Fi                -0.128357      0.086585 -0.068299  0.073190   0.049392
Documentary            0.149778     -0.053596 -0.118629 -0.068747  -0.058086
Mystery               -0.012221      0.026069 -0.026952  0.015703  -0.026039
Film-Noir              0.030073      0.003847 -0.008976 -0.017374  -0.019222
IMAX                   0.014933      0.113903 -0.016811  0.066228   0.043910
Musical                0.022940      0.020285  0.090511  0.036938   0.036666
year_timestamp        -0.063017     -0.270450 -0.073035  0.011310   0.086410
year                   0.010834      0.022068 -0.077625 -0.001751  -0.000461

                      Comedy     Crime   Western  (no genres listed)  \
mean_rating        -0.029512  0.015203 -0.013533           -0.001263
rating_count        0.033881  0.050338 -0.006786           -0.039653
Romance             0.144264 -0.055434 -0.001002           -0.078566
Fantasy             0.015107 -0.058943 -0.032380           -0.045733
Animation           0.008276 -0.059662 -0.026986           -0.044545
Comedy              1.000000 -0.053711 -0.037637           -0.124314
Crime              -0.053711  1.000000 -0.031514           -0.064365
Western            -0.037637 -0.031514  1.000000           -0.031447
(no genres listed) -0.124314 -0.064365 -0.031447            1.000000
Action             -0.077609  0.128641  0.040637           -0.075179
Horror             -0.112882 -0.051396 -0.041553           -0.068227
Adventure          -0.017212 -0.038368  0.035610           -0.056588
Thriller           -0.190074  0.231518 -0.049716           -0.084128
Drama              -0.201378  0.088269 -0.069003           -0.176858
War                -0.076998 -0.048048 -0.002050           -0.037492
Children            0.065424 -0.061397 -0.022978           -0.044859
Sci-Fi             -0.071206 -0.063956 -0.029562           -0.053147
Documentary        -0.166154 -0.086411 -0.046125           -0.061040
Mystery            -0.078459  0.147920 -0.024696           -0.046493
Film-Noir          -0.051799  0.151109 -0.012731           -0.018041
IMAX               -0.020176 -0.009007 -0.006293           -0.013544
Musical             0.073371 -0.037571 -0.003233           -0.030796
year_timestamp     -0.082880 -0.035090 -0.020952            0.126586
year               -0.005243 -0.051683 -0.145521           -0.006793

                      Action  ...       War  Children    Sci-Fi  Documentary  \
mean_rating        -0.083334  ...  0.050338 -0.019069 -0.128357     0.149778
rating_count        0.106123  ...  0.018146  0.034384  0.086585    -0.053596
Romance            -0.069615  ...  0.010012 -0.042638 -0.068299    -0.118629
Fantasy             0.058225  ... -0.030485  0.197663  0.073190    -0.068747
Animation           0.012667  ... -0.025355  0.331929  0.049392    -0.058086
Comedy             -0.077609  ... -0.076998  0.065424 -0.071206    -0.166154
Crime               0.128641  ... -0.048048 -0.061397 -0.063956    -0.086411
Western             0.040637  ... -0.002050 -0.022978 -0.029562    -0.046125
(no genres listed) -0.075179  ... -0.037492 -0.044859 -0.053147    -0.061040
Action              1.000000  ...  0.064717 -0.033185  0.176103    -0.110167
Horror             -0.032471  ... -0.053623 -0.069613  0.143237    -0.100782
Adventure           0.243642  ...  0.031948  0.205558  0.117147    -0.069883
Thriller            0.169424  ... -0.033988 -0.088047  0.073617    -0.126254
Drama              -0.088804  ...  0.111106 -0.096496 -0.140812    -0.245386
War                 0.064717  ...  1.000000 -0.037950 -0.033432    -0.019097
Children           -0.033185  ... -0.037950  1.000000 -0.002880    -0.062205
Sci-Fi              0.176103  ... -0.033432 -0.002880  1.000000    -0.078177
Documentary        -0.110167  ... -0.019097 -0.062205 -0.078177     1.000000
Mystery            -0.025307  ... -0.033174 -0.025078  0.014185    -0.065748
Film-Noir          -0.024931  ... -0.014316 -0.020607 -0.019110    -0.028040
IMAX                0.080300  ... -0.005214  0.040155  0.071786     0.014012
Musical            -0.047999  ... -0.018159  0.055769 -0.026526     0.002097
year_timestamp     -0.003235  ... -0.043967  0.005809  0.008763     0.066492
year                0.049908  ... -0.081094  0.033545  0.030939     0.148994

                     Mystery  Film-Noir      IMAX   Musical  year_timestamp  \
mean_rating        -0.012221   0.030073  0.014933  0.022940       -0.063017
rating_count        0.026069   0.003847  0.113903  0.020285       -0.270450
Romance            -0.026952  -0.008976 -0.016811  0.090511       -0.073035
Fantasy             0.015703  -0.017374  0.066228  0.036938        0.011310
Animation          -0.026039  -0.019222  0.043910  0.036666        0.086410
Comedy             -0.078459  -0.051799 -0.020176  0.073371       -0.082880
Crime               0.147920   0.151109 -0.009007 -0.037571       -0.035090
Western            -0.024696  -0.012731 -0.006293 -0.003233       -0.020952
(no genres listed) -0.046493  -0.018041 -0.013544 -0.030796        0.126586
Action             -0.025307  -0.024931  0.080300 -0.047999       -0.003235
Horror              0.128955  -0.025305 -0.008649 -0.043238        0.049726
Adventure          -0.020457  -0.019963  0.100572 -0.002501       -0.042459
Thriller            0.243454   0.052114  0.006246 -0.060700       -0.005393
Drama               0.003872   0.053391 -0.033334 -0.035047       -0.092376
War                -0.033174  -0.014316 -0.005214 -0.018159       -0.043967
Children           -0.025078  -0.020607  0.040155  0.055769        0.005809
Sci-Fi              0.014185  -0.019110  0.071786 -0.026526        0.008763
Documentary        -0.065748  -0.028040  0.014012  0.002097        0.066492
Mystery             1.000000   0.056225 -0.004944 -0.030776        0.002992
Film-Noir           0.056225   1.000000 -0.006221 -0.007150       -0.036078
IMAX               -0.004944  -0.006221  1.000000  0.012596       -0.005582
Musical            -0.030776  -0.007150  0.012596  1.000000       -0.093978
year_timestamp      0.002992  -0.036078 -0.005582 -0.093978        1.000000
year               -0.029729  -0.130676  0.046163 -0.100342        0.141910

                        year
mean_rating         0.010834
rating_count        0.022068
Romance            -0.077625
Fantasy            -0.001751
Animation          -0.000461
Comedy             -0.005243
Crime              -0.051683
Western            -0.145521
(no genres listed) -0.006793
Action              0.049908
Horror              0.032810
Adventure          -0.025325
Thriller            0.092287
Drama              -0.023082
War                -0.081094
Children            0.033545
Sci-Fi              0.030939
Documentary         0.148994
Mystery            -0.029729
Film-Noir          -0.130676
IMAX                0.046163
Musical            -0.100342
year_timestamp      0.141910
year                1.000000

[24 rows x 24 columns]
                    mean_rating  rating_count    Romance    Fantasy  \
mean_rating            0.426702  2.538626e+02   0.009652  -0.002718
rating_count         253.862560  8.584664e+06  26.479736  37.604426
Romance                0.009652  2.647974e+01   0.117377   0.000729
Fantasy               -0.002718  3.760443e+01   0.000729   0.048007
Animation              0.002896  1.023197e+01  -0.004471   0.007154
Comedy                -0.008678  4.468778e+01   0.022249   0.001490
Crime                  0.002918  4.333168e+01  -0.005580  -0.003794
Western               -0.001368 -3.077554e+00  -0.000053  -0.001098
(no genres listed)    -0.000157 -2.215439e+01  -0.005133  -0.001911
Action                -0.018053  1.031174e+02  -0.007910   0.004231
Horror                -0.045046 -1.804163e+01  -0.011996   0.002191
Adventure             -0.004852  9.468820e+01  -0.001972   0.012076
Thriller              -0.017229  7.060662e+01  -0.011418  -0.003215
Drama                  0.048643 -2.766823e+00   0.022985  -0.009452
War                    0.006006  9.710756e+00   0.000627  -0.001220
Children              -0.002682  2.169318e+01  -0.003146   0.009326
Sci-Fi                -0.020978  6.347100e+01  -0.005854   0.004012
Documentary            0.027525 -4.417794e+01  -0.011434  -0.004238
Mystery               -0.001775  1.698436e+01  -0.002053   0.000765
Film-Noir              0.001774  1.017664e+00  -0.000278  -0.000344
IMAX                   0.000664  2.270184e+01  -0.000392   0.000987
Musical                0.002274  9.018185e+00   0.004705   0.001228
year_timestamp        -0.193370 -3.722375e+03  -0.117543   0.011641
year                   0.177538  1.622033e+03  -0.667148  -0.009622

                    Animation     Comedy      Crime   Western  \
mean_rating          0.002896  -0.008678   0.002918 -0.001368
rating_count        10.231971  44.687775  43.331685 -3.077554
Romance             -0.004471   0.022249  -0.005580 -0.000053
Fantasy              0.007154   0.001490  -0.003794 -0.001098
Animation            0.045782   0.000797  -0.003751 -0.000894
Comedy               0.000797   0.202646  -0.007104 -0.002623
Crime               -0.003751  -0.007104   0.086318 -0.001433
Western             -0.000894  -0.002623  -0.001433  0.023959
(no genres listed)  -0.001817  -0.010671  -0.003606 -0.000928
Action               0.000899  -0.011586   0.012534  0.002086
Horror              -0.003635  -0.015641  -0.004648 -0.001980
Adventure            0.007829  -0.002046  -0.002976  0.001455
Thriller            -0.006265  -0.030777   0.024466 -0.002768
Drama               -0.016002  -0.045035   0.012883 -0.005306
War                 -0.000991  -0.006331  -0.002578 -0.000058
Children             0.015293   0.006342  -0.003884 -0.000766
Sci-Fi               0.002644  -0.008020  -0.004701 -0.001145
Documentary         -0.003496  -0.021042  -0.007142 -0.002009
Mystery             -0.001239  -0.007854   0.009664 -0.000850
Film-Noir           -0.000371  -0.002105   0.004008 -0.000178
IMAX                 0.000639  -0.000618  -0.000180 -0.000066
Musical              0.001190   0.005012  -0.001675 -0.000076
year_timestamp       0.086853  -0.175263  -0.048429 -0.015235
year                -0.002474  -0.059204  -0.380911 -0.565056

                    (no genres listed)      Action  ...       War   Children  \
mean_rating                  -0.000157   -0.018053  ...  0.006006  -0.002682
rating_count                -22.154386  103.117398  ...  9.710756  21.693177
Romance                      -0.005133   -0.007910  ...  0.000627  -0.003146
Fantasy                      -0.001911    0.004231  ... -0.001220   0.009326
Animation                    -0.001817    0.000899  ... -0.000991   0.015293
Comedy                       -0.010671   -0.011586  ... -0.006331   0.006342
Crime                        -0.003606    0.012534  ... -0.002578  -0.003884
Western                      -0.000928    0.002086  ... -0.000058  -0.000766
(no genres listed)            0.036362   -0.004754  ... -0.001306  -0.001842
Action                       -0.004754    0.109981  ...  0.003920  -0.002370
Horror                       -0.004004   -0.003314  ... -0.003015  -0.004614
Adventure                    -0.002849    0.021333  ...  0.001541   0.011686
Thriller                     -0.005770    0.020210  ... -0.002233  -0.006819
Drama                        -0.016754   -0.014631  ...  0.010082  -0.010322
War                          -0.001306    0.003920  ...  0.033361  -0.001493
Children                     -0.001842   -0.002370  ... -0.001493   0.046366
Sci-Fi                       -0.002536    0.014612  ... -0.001528  -0.000155
Documentary                  -0.003275   -0.010278  ... -0.000981  -0.003768
Mystery                      -0.001971   -0.001866  ... -0.001347  -0.001201
Film-Noir                    -0.000311   -0.000746  ... -0.000236  -0.000401
IMAX                         -0.000176    0.001811  ... -0.000065   0.000588
Musical                      -0.000891   -0.002415  ... -0.000503   0.001822
year_timestamp                0.113392   -0.005040  ... -0.037724   0.005876
year                         -0.032495    0.415201  ... -0.371571   0.181200

                       Sci-Fi  Documentary    Mystery  Film-Noir       IMAX  \
mean_rating         -0.020978     0.027525  -0.001775   0.001774   0.000664
rating_count        63.470998   -44.177937  16.984362   1.017664  22.701841
Romance             -0.005854    -0.011434  -0.002053  -0.000278  -0.000392
Fantasy              0.004012    -0.004238   0.000765  -0.000344   0.000987
Animation            0.002644    -0.003496  -0.001239  -0.000371   0.000639
Comedy              -0.008020    -0.021042  -0.007854  -0.002105  -0.000618
Crime               -0.004701    -0.007142   0.009664   0.004008  -0.000180
Western             -0.001145    -0.002009  -0.000850  -0.000178  -0.000066
(no genres listed)  -0.002536    -0.003275  -0.001971  -0.000311  -0.000176
Action               0.014612    -0.010278  -0.001866  -0.000746   0.001811
Horror               0.011030    -0.008727   0.008826  -0.000703  -0.000181
Adventure            0.007738    -0.005191  -0.001201  -0.000476   0.001806
Thriller             0.006625    -0.012776   0.019473   0.001692   0.000153
Drama               -0.017502    -0.034295   0.000428   0.002395  -0.001126
War                 -0.001528    -0.000981  -0.001347  -0.000236  -0.000065
Children            -0.000155    -0.003768  -0.001201  -0.000401   0.000588
Sci-Fi               0.062596    -0.005503   0.000789  -0.000432   0.001222
Documentary         -0.005503     0.079144  -0.004113  -0.000712   0.000268
Mystery              0.000789    -0.004113   0.049447   0.001129  -0.000075
Film-Noir           -0.000432    -0.000712   0.001129   0.008152  -0.000038
IMAX                 0.001222     0.000268  -0.000075  -0.000038   0.004627
Musical             -0.001007     0.000090  -0.001038  -0.000098   0.000130
year_timestamp       0.010299     0.087872   0.003126  -0.015302  -0.001784
year                 0.194181     1.051489  -0.165838  -0.295975   0.078775

                     Musical  year_timestamp         year
mean_rating         0.002274       -0.193370     0.177538
rating_count        9.018185    -3722.374624  1622.032872
Romance             0.004705       -0.117543    -0.667148
Fantasy             0.001228        0.011641    -0.009622
Animation           0.001190        0.086853    -0.002474
Comedy              0.005012       -0.175263    -0.059204
Crime              -0.001675       -0.048429    -0.380911
Western            -0.000076       -0.015235    -0.565056
(no genres listed) -0.000891        0.113392    -0.032495
Action             -0.002415       -0.005040     0.415201
Horror             -0.002019        0.071898     0.253336
Adventure          -0.000100       -0.052659    -0.167734
Thriller           -0.003313       -0.009113     0.832727
Drama              -0.002642       -0.215576    -0.287659
War                -0.000503       -0.037724    -0.371571
Children            0.001822        0.005876     0.181200
Sci-Fi             -0.001007        0.010299     0.194181
Documentary         0.000090        0.087872     1.051489
Mystery            -0.001038        0.003126    -0.165838
Film-Noir          -0.000098       -0.015302    -0.295975
IMAX                0.000130       -0.001784     0.078775
Musical             0.023024       -0.066987    -0.381946
year_timestamp     -0.066987       22.066962    16.722912
year               -0.381946       16.722912   629.298991

[24 rows x 24 columns]
        mean_rating  rating_count       Romance       Fantasy     Animation  \
count  41731.000000  41731.000000  41731.000000  41731.000000  41731.000000
mean       3.110263    596.810093      0.135822      0.050562      0.048094
std        0.653225   2929.959710      0.342604      0.219104      0.213967
min        0.500000      1.000000      0.000000      0.000000      0.000000
25%        2.755964      3.000000      0.000000      0.000000      0.000000
50%        3.187500     12.000000      0.000000      0.000000      0.000000
75%        3.519877     94.000000      0.000000      0.000000      0.000000
max        5.000000  81491.000000      1.000000      1.000000      1.000000

             Comedy         Crime       Western  (no genres listed)  \
count  41731.000000  41731.000000  41731.000000        41731.000000
mean       0.282380      0.095421      0.024562            0.037790
std        0.450163      0.293799      0.154788            0.190689
min        0.000000      0.000000      0.000000            0.000000
25%        0.000000      0.000000      0.000000            0.000000
50%        0.000000      0.000000      0.000000            0.000000
75%        1.000000      0.000000      0.000000            0.000000
max        1.000000      1.000000      1.000000            1.000000

             Action  ...           War      Children        Sci-Fi  \
count  41731.000000  ...  41731.000000  41731.000000  41731.000000
mean       0.125806  ...      0.034555      0.048741      0.067096
std        0.331634  ...      0.182651      0.215328      0.250192
min        0.000000  ...      0.000000      0.000000      0.000000
25%        0.000000  ...      0.000000      0.000000      0.000000
50%        0.000000  ...      0.000000      0.000000      0.000000
75%        0.000000  ...      0.000000      0.000000      0.000000
max        1.000000  ...      1.000000      1.000000      1.000000

        Documentary       Mystery     Film-Noir          IMAX       Musical  \
count  41731.000000  41731.000000  41731.000000  41731.000000  41731.000000
mean       0.086650      0.052167      0.008219      0.004649      0.023580
std        0.281325      0.222367      0.090288      0.068024      0.151737
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

       year_timestamp          year
count    41731.000000  41731.000000
mean      2014.229014   1991.565647
std          4.697548     25.085832
min       1997.000000   1874.000000
25%       2013.000000   1976.000000
50%       2016.000000   2001.000000
75%       2017.000000   2012.000000
max       2019.000000   2019.000000

[8 rows x 24 columns]

In [225]:
# remove tag column
df = df.drop(columns=['tag'])

display(df.head())

,mean_rating,rating_count,Romance,Fantasy,Animation,Comedy,Crime,Western,(no genres listed),Action,...,War,Children,Sci-Fi,Documentary,Mystery,Film-Noir,IMAX,Musical,year_timestamp,year
0,3.893708,57309,0,1,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,2006,1995
1,3.251527,24228,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2005,1995
2,3.142028,11804,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,2001,1995
3,2.853547,2523,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1999,1995
4,3.058434,11714,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,2001,1995

## Modeling

In [226]:
# Split data
df2 = df.copy()
X = df2.drop(columns=['mean_rating'])
y = df['mean_rating']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [229]:
import tensorflow as tf

# Create the model using the Keras API of Tensorflow
model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(1)
])

# Compile the model, specifying the loss function and optimizer
model.compile(loss='mean_squared_error', metrics=['mean_squared_error'], optimizer='adam')

# Train the model on the training data
history = model.fit(X_train, y_train, epochs=100, batch_size=256, validation_split=0.2)


# Evaluate the model on the test data
loss, mse = model.evaluate(X_test, y_test, verbose=0)
print('Loss: ', loss)
print('MSE: ', mse)

display(y_test[:5])
model.predict(X_test[:5])

Epoch 1/100

/opt/anaconda3/lib/python3.9/site-packages/keras/engine/data_adapter.py:1696: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

105/105 [==============================] - 1s 3ms/step - loss: 1325.1180 - mean_squared_error: 1325.1180 - val_loss: 65.2286 - val_mean_squared_error: 65.2286
Epoch 2/100
105/105 [==============================] - 0s 2ms/step - loss: 17.1604 - mean_squared_error: 17.1604 - val_loss: 9.6623 - val_mean_squared_error: 9.6623
Epoch 3/100
105/105 [==============================] - 0s 2ms/step - loss: 9.2306 - mean_squared_error: 9.2306 - val_loss: 8.9570 - val_mean_squared_error: 8.9570
Epoch 4/100
105/105 [==============================] - 0s 2ms/step - loss: 8.6719 - mean_squared_error: 8.6719 - val_loss: 8.4232 - val_mean_squared_error: 8.4232
Epoch 5/100
105/105 [==============================] - 0s 2ms/step - loss: 8.1382 - mean_squared_error: 8.1382 - val_loss: 7.8920 - val_mean_squared_error: 7.8920
Epoch 6/100
105/105 [==============================] - 0s 2ms/step - loss: 7.6296 - mean_squared_error: 7.6296 - val_loss: 7.3809 - val_mean_squared_error: 7.3809
Epoch 7/100
105/105 [==============================] - 0s 2ms/step - loss: 7.1366 - mean_squared_error: 7.1366 - val_loss: 6.9026 - val_mean_squared_error: 6.9026
Epoch 8/100
105/105 [==============================] - 0s 2ms/step - loss: 6.6674 - mean_squared_error: 6.6674 - val_loss: 6.4583 - val_mean_squared_error: 6.4583
Epoch 9/100
105/105 [==============================] - 0s 2ms/step - loss: 6.2254 - mean_squared_error: 6.2254 - val_loss: 6.0171 - val_mean_squared_error: 6.0171
Epoch 10/100
105/105 [==============================] - 0s 2ms/step - loss: 5.8015 - mean_squared_error: 5.8015 - val_loss: 5.6006 - val_mean_squared_error: 5.6006
Epoch 11/100
105/105 [==============================] - 0s 2ms/step - loss: 5.3990 - mean_squared_error: 5.3990 - val_loss: 5.2087 - val_mean_squared_error: 5.2087
Epoch 12/100
105/105 [==============================] - 0s 2ms/step - loss: 5.0179 - mean_squared_error: 5.0179 - val_loss: 4.8397 - val_mean_squared_error: 4.8397
Epoch 13/100
105/105 [==============================] - 0s 2ms/step - loss: 4.6579 - mean_squared_error: 4.6579 - val_loss: 4.4946 - val_mean_squared_error: 4.4946
Epoch 14/100
105/105 [==============================] - 0s 2ms/step - loss: 4.3192 - mean_squared_error: 4.3192 - val_loss: 4.1594 - val_mean_squared_error: 4.1594
Epoch 15/100
105/105 [==============================] - 0s 2ms/step - loss: 3.8480 - mean_squared_error: 3.8480 - val_loss: 3.4569 - val_mean_squared_error: 3.4569
Epoch 16/100
105/105 [==============================] - 0s 2ms/step - loss: 3.0528 - mean_squared_error: 3.0528 - val_loss: 2.6575 - val_mean_squared_error: 2.6575
Epoch 17/100
105/105 [==============================] - 0s 2ms/step - loss: 2.3529 - mean_squared_error: 2.3529 - val_loss: 2.0750 - val_mean_squared_error: 2.0750
Epoch 18/100
105/105 [==============================] - 0s 2ms/step - loss: 1.8390 - mean_squared_error: 1.8390 - val_loss: 1.6190 - val_mean_squared_error: 1.6190
Epoch 19/100
105/105 [==============================] - 0s 2ms/step - loss: 1.4541 - mean_squared_error: 1.4541 - val_loss: 1.2892 - val_mean_squared_error: 1.2892
Epoch 20/100
105/105 [==============================] - 0s 2ms/step - loss: 1.1675 - mean_squared_error: 1.1675 - val_loss: 1.0418 - val_mean_squared_error: 1.0418
Epoch 21/100
105/105 [==============================] - 0s 2ms/step - loss: 0.9537 - mean_squared_error: 0.9537 - val_loss: 0.8594 - val_mean_squared_error: 0.8594
Epoch 22/100
105/105 [==============================] - 0s 2ms/step - loss: 0.7965 - mean_squared_error: 0.7965 - val_loss: 0.7250 - val_mean_squared_error: 0.7250
Epoch 23/100
105/105 [==============================] - 0s 2ms/step - loss: 0.6809 - mean_squared_error: 0.6809 - val_loss: 0.6281 - val_mean_squared_error: 0.6281
Epoch 24/100
105/105 [==============================] - 0s 2ms/step - loss: 0.5980 - mean_squared_error: 0.5980 - val_loss: 0.5575 - val_mean_squared_error: 0.5575
Epoch 25/100
105/105 [==============================] - 0s 2ms/step - loss: 0.5392 - mean_squared_error: 0.5392 - val_loss: 0.5097 - val_mean_squared_error: 0.5097
Epoch 26/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4985 - mean_squared_error: 0.4985 - val_loss: 0.4764 - val_mean_squared_error: 0.4764
Epoch 27/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4708 - mean_squared_error: 0.4708 - val_loss: 0.4528 - val_mean_squared_error: 0.4528
Epoch 28/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4526 - mean_squared_error: 0.4526 - val_loss: 0.4383 - val_mean_squared_error: 0.4383
Epoch 29/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4405 - mean_squared_error: 0.4405 - val_loss: 0.4291 - val_mean_squared_error: 0.4291
Epoch 30/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4336 - mean_squared_error: 0.4336 - val_loss: 0.4233 - val_mean_squared_error: 0.4233
Epoch 31/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4287 - mean_squared_error: 0.4287 - val_loss: 0.4202 - val_mean_squared_error: 0.4202
Epoch 32/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4260 - mean_squared_error: 0.4260 - val_loss: 0.4182 - val_mean_squared_error: 0.4182
Epoch 33/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4245 - mean_squared_error: 0.4245 - val_loss: 0.4168 - val_mean_squared_error: 0.4168
Epoch 34/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4236 - mean_squared_error: 0.4236 - val_loss: 0.4162 - val_mean_squared_error: 0.4162
Epoch 35/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4231 - mean_squared_error: 0.4231 - val_loss: 0.4159 - val_mean_squared_error: 0.4159
Epoch 36/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4234 - mean_squared_error: 0.4234 - val_loss: 0.4176 - val_mean_squared_error: 0.4176
Epoch 37/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4228 - mean_squared_error: 0.4228 - val_loss: 0.4158 - val_mean_squared_error: 0.4158
Epoch 38/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4230 - mean_squared_error: 0.4230 - val_loss: 0.4156 - val_mean_squared_error: 0.4156
Epoch 39/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4227 - mean_squared_error: 0.4227 - val_loss: 0.4155 - val_mean_squared_error: 0.4155
Epoch 40/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4226 - mean_squared_error: 0.4226 - val_loss: 0.4155 - val_mean_squared_error: 0.4155
Epoch 41/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4226 - mean_squared_error: 0.4226 - val_loss: 0.4157 - val_mean_squared_error: 0.4157
Epoch 42/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4227 - mean_squared_error: 0.4227 - val_loss: 0.4154 - val_mean_squared_error: 0.4154
Epoch 43/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4227 - mean_squared_error: 0.4227 - val_loss: 0.4167 - val_mean_squared_error: 0.4167
Epoch 44/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4227 - mean_squared_error: 0.4227 - val_loss: 0.4175 - val_mean_squared_error: 0.4175
Epoch 45/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4226 - mean_squared_error: 0.4226 - val_loss: 0.4154 - val_mean_squared_error: 0.4154
Epoch 46/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4226 - mean_squared_error: 0.4226 - val_loss: 0.4155 - val_mean_squared_error: 0.4155
Epoch 47/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4226 - mean_squared_error: 0.4226 - val_loss: 0.4157 - val_mean_squared_error: 0.4157
Epoch 48/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4225 - mean_squared_error: 0.4225 - val_loss: 0.4153 - val_mean_squared_error: 0.4153
Epoch 49/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4227 - mean_squared_error: 0.4227 - val_loss: 0.4154 - val_mean_squared_error: 0.4154
Epoch 50/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4227 - mean_squared_error: 0.4227 - val_loss: 0.4166 - val_mean_squared_error: 0.4166
Epoch 51/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4225 - mean_squared_error: 0.4225 - val_loss: 0.4154 - val_mean_squared_error: 0.4154
Epoch 52/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4225 - mean_squared_error: 0.4225 - val_loss: 0.4191 - val_mean_squared_error: 0.4191
Epoch 53/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4228 - mean_squared_error: 0.4228 - val_loss: 0.4153 - val_mean_squared_error: 0.4153
Epoch 54/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4225 - mean_squared_error: 0.4225 - val_loss: 0.4153 - val_mean_squared_error: 0.4153
Epoch 55/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4225 - mean_squared_error: 0.4225 - val_loss: 0.4150 - val_mean_squared_error: 0.4150
Epoch 56/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4224 - mean_squared_error: 0.4224 - val_loss: 0.4150 - val_mean_squared_error: 0.4150
Epoch 57/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4227 - mean_squared_error: 0.4227 - val_loss: 0.4150 - val_mean_squared_error: 0.4150
Epoch 58/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4223 - mean_squared_error: 0.4223 - val_loss: 0.4149 - val_mean_squared_error: 0.4149
Epoch 59/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4233 - mean_squared_error: 0.4233 - val_loss: 0.4166 - val_mean_squared_error: 0.4166
Epoch 60/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4234 - mean_squared_error: 0.4234 - val_loss: 0.4149 - val_mean_squared_error: 0.4149
Epoch 61/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4226 - mean_squared_error: 0.4226 - val_loss: 0.4156 - val_mean_squared_error: 0.4156
Epoch 62/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4241 - mean_squared_error: 0.4241 - val_loss: 0.4148 - val_mean_squared_error: 0.4148
Epoch 63/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4234 - mean_squared_error: 0.4234 - val_loss: 0.4148 - val_mean_squared_error: 0.4148
Epoch 64/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4228 - mean_squared_error: 0.4228 - val_loss: 0.4190 - val_mean_squared_error: 0.4190
Epoch 65/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4224 - mean_squared_error: 0.4224 - val_loss: 0.4148 - val_mean_squared_error: 0.4148
Epoch 66/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4279 - mean_squared_error: 0.4279 - val_loss: 0.4271 - val_mean_squared_error: 0.4271
Epoch 67/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4265 - mean_squared_error: 0.4265 - val_loss: 0.4161 - val_mean_squared_error: 0.4161
Epoch 68/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4258 - mean_squared_error: 0.4258 - val_loss: 0.4219 - val_mean_squared_error: 0.4219
Epoch 69/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4236 - mean_squared_error: 0.4236 - val_loss: 0.4146 - val_mean_squared_error: 0.4146
Epoch 70/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4364 - mean_squared_error: 0.4364 - val_loss: 0.4243 - val_mean_squared_error: 0.4243
Epoch 71/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4244 - mean_squared_error: 0.4244 - val_loss: 0.4307 - val_mean_squared_error: 0.4307
Epoch 72/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4320 - mean_squared_error: 0.4320 - val_loss: 0.4470 - val_mean_squared_error: 0.4470
Epoch 73/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4286 - mean_squared_error: 0.4286 - val_loss: 0.4635 - val_mean_squared_error: 0.4635
Epoch 74/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4289 - mean_squared_error: 0.4289 - val_loss: 0.4146 - val_mean_squared_error: 0.4146
Epoch 75/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4272 - mean_squared_error: 0.4272 - val_loss: 0.4151 - val_mean_squared_error: 0.4151
Epoch 76/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4554 - mean_squared_error: 0.4554 - val_loss: 0.4613 - val_mean_squared_error: 0.4613
Epoch 77/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4257 - mean_squared_error: 0.4257 - val_loss: 0.4166 - val_mean_squared_error: 0.4166
Epoch 78/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4252 - mean_squared_error: 0.4252 - val_loss: 0.5218 - val_mean_squared_error: 0.5218
Epoch 79/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4459 - mean_squared_error: 0.4459 - val_loss: 0.4805 - val_mean_squared_error: 0.4805
Epoch 80/100
105/105 [==============================] - 0s 2ms/step - loss: 0.8318 - mean_squared_error: 0.8318 - val_loss: 0.4258 - val_mean_squared_error: 0.4258
Epoch 81/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4411 - mean_squared_error: 0.4411 - val_loss: 0.4202 - val_mean_squared_error: 0.4202
Epoch 82/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4410 - mean_squared_error: 0.4410 - val_loss: 0.4371 - val_mean_squared_error: 0.4371
Epoch 83/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4388 - mean_squared_error: 0.4388 - val_loss: 0.4350 - val_mean_squared_error: 0.4350
Epoch 84/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4308 - mean_squared_error: 0.4308 - val_loss: 0.4242 - val_mean_squared_error: 0.4242
Epoch 85/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4259 - mean_squared_error: 0.4259 - val_loss: 0.4183 - val_mean_squared_error: 0.4183
Epoch 86/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4352 - mean_squared_error: 0.4352 - val_loss: 0.4283 - val_mean_squared_error: 0.4283
Epoch 87/100
105/105 [==============================] - 0s 2ms/step - loss: 0.6063 - mean_squared_error: 0.6063 - val_loss: 2.6085 - val_mean_squared_error: 2.6085
Epoch 88/100
105/105 [==============================] - 0s 2ms/step - loss: 1.0250 - mean_squared_error: 1.0250 - val_loss: 0.6680 - val_mean_squared_error: 0.6680
Epoch 89/100
105/105 [==============================] - 0s 2ms/step - loss: 0.6047 - mean_squared_error: 0.6047 - val_loss: 0.4255 - val_mean_squared_error: 0.4255
Epoch 90/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4446 - mean_squared_error: 0.4446 - val_loss: 0.4179 - val_mean_squared_error: 0.4179
Epoch 91/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4271 - mean_squared_error: 0.4271 - val_loss: 0.4189 - val_mean_squared_error: 0.4189
Epoch 92/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4269 - mean_squared_error: 0.4269 - val_loss: 0.4175 - val_mean_squared_error: 0.4175
Epoch 93/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4263 - mean_squared_error: 0.4263 - val_loss: 0.4218 - val_mean_squared_error: 0.4218
Epoch 94/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4255 - mean_squared_error: 0.4255 - val_loss: 0.4249 - val_mean_squared_error: 0.4249
Epoch 95/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4472 - mean_squared_error: 0.4472 - val_loss: 0.4415 - val_mean_squared_error: 0.4415
Epoch 96/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4277 - mean_squared_error: 0.4277 - val_loss: 0.4176 - val_mean_squared_error: 0.4176
Epoch 97/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4262 - mean_squared_error: 0.4262 - val_loss: 0.4717 - val_mean_squared_error: 0.4717
Epoch 98/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4319 - mean_squared_error: 0.4319 - val_loss: 0.4195 - val_mean_squared_error: 0.4195
Epoch 99/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4472 - mean_squared_error: 0.4472 - val_loss: 0.5918 - val_mean_squared_error: 0.5918
Epoch 100/100
105/105 [==============================] - 0s 2ms/step - loss: 0.4484 - mean_squared_error: 0.4484 - val_loss: 0.4171 - val_mean_squared_error: 0.4171
Loss:  0.41567331552505493
MSE:  0.41567331552505493

/var/folders/x8/p0tjyw5163s2pb2vfft_2jbc0000gn/T/ipykernel_11861/2749180253.py:22: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  display(y_test[:5])

36459    2.772727
24390    5.000000
4772     3.015625
20877    1.000000
16731    3.000000
Name: mean_rating, dtype: float64

1/1 [==============================] - 0s 70ms/step

array([[3.0979486],
       [3.0979486],
       [3.0979486],
       [3.0979486],
       [3.0979486]], dtype=float32)